 <div class="movies-cards d-flex flex-column">
    {% for movie in current_page %}
    <a href={{movie.get_absolute_url}}>
        <div class="movie-card d-flex flex-row mt-2">
            <img class="movie-card-img m-2" src="{{movie.image.url}}"/>
            <div class="movie-card-info m-2">                
                <h3>{{movie.name}}</h3>
                <h5>{{movie.category}}</h5>
                <h6>IMDb Rating: {{movie.imdb_rating}}</h6>
                {% if movie.average_rating %}
                    <h6>Users Rating: {{movie.average_rating}}</h6>
                {% endif %}
                {% if movie.user_rating %}
                    <h6>Your rating: {{movie.user_rating}}<h6>
                {% endif %}
                <h6>Released: {{movie.release_date}}</h6>
            </div>
        </div>
    </a>
    {% endfor %}
</div>