{% extends 'layout.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block content %}
    <div class="d-flex flex-column">
        <form action='' method='POST' class="d-flex flex-column" style="gap: 20px;">
            {% csrf_token %}
            <input class="form-input-field" id="username" name="username" placeholder="username" />
            <input class="form-input-field" id="email" name="email" placeholder="email"/>
            <input class="form-input-field" type="password" id="password" name="password" placeholder="password"/>
            <button class="btn btn-secondary submit-from-btn" type="submit">Register</button>
        </form>
    </div>
{% endblock content %} 