{% extends 'layout.html'%}
{% load static %}

{% block title%}Movies Rating{% endblock title%}

{% block content%}
    <h1>Welcome to Movie Rating Site!</h1>
    <form class="mt-1 search-form" method="get" action="{% url 'main:search_movie' %}">
        <input class="search-input-field" name='q' placeholder='Search movie...'/>
        <button class="btn btn-primary search-submit-btn" type='submit'>Search</button>
    </form>
    <h2 class="mt-3">Recently added</h2>
    <div class="d-flex flex-row recently-added-container">
        {% for movie in movies %}
        <a href = "{{movie.get_absolute_url}}">
            <div class="d-flex flex-column recently-added-card">
                <img src="{{movie.image.url}}" class="recently-added-movie-img m-1"/>
                <h6 class="m-1" style="display: flex; justify-content: center; align-items: center;">{{movie.name}}</h6>
                {% comment %} <h6>IMDb: {{movie.imdb_rating}}</h6>
                {% if movie.average_rating %}
                    <h6>Users: {{movie.average_rating}}</h6>
                {% endif %} {% endcomment %}
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock content%}


