{% extends "layout.html" %}

{% load static %}

{% block title %}{{movie.name}}{% endblock title %}

{% block content %}
    <div>
        <p>{{movie.category}}</p>
        <p>{{movie.name}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.release_date}}</p>
        <p>{{movie.imdb_rating}}</p>
        {% if rating %}
            <p>Your rating: {{rating.score}}</p>
        {% endif %}
        <img src="{{movie.image.url}}">
    </div>
    <div>
        <form method="post" action = "">
            {% csrf_token %}
            {% if form.score.errors %}
                <div>
                    <p class="alert alert-danger">{{form.score.errors.0}}</p>
                </div>
            {% endif %}
            <input id="score" name="score" placeholder="score" min="1" max="10"/>
            <button id="formSubmitBtn"class="btn btn-primary" type="submit">Rate</button>
        </form>
    </div>
{% endblock content %}