{% extends "layout.html" %}

{% load static %}

{% block title %}{{movie.name}}{% endblock title %}

{% block content %}
    <div class="d-flex flex-row" style="gap: 35px;">
            <div>
        <img src="{{movie.image.url}}" class="movie-details-img"/>
    </div>
    <div>
        <h1>{{movie.name}}</h1>
        <h4 class="text-muted">{{movie.category}}</h4>
        <p class="mt-3">{{movie.description}}</p>
        <p><strong>Release:</strong> {{movie.release_date}}</p>
        <div class="d-flex flex-row gap-3">
            <h5>IMDb: {{movie.imdb_rating}}</h5>
            {% if movie.average_rating %}
                <h5>Users: {{movie.average_rating|floatformat:1}}</h5>
            {% endif %}
        </div>
        {% if rating %}
            <hr>
            <h5>Your review:</h5>
            <h5>Score: {{rating.score}}</h5>
            {% if rating.review %}
                <div class="movie-details-comment-card mt-1">
                    <textarea class="movie-details-comment-text" disabled>{{rating.review}}</textarea>
                </div>
            {% endif %}
        {% endif %}

        {% if form.score.errors %}
            <p class="alert alert-danger">{{form.score.errors.0}}</p>
        {% endif %}
        {% if form.review.errors %}
            <p class="alert alert-danger">{{form.review.errors.0}}</p>
        {% endif %}

        <button id="rateMovieBtn" class="btn btn-secondary">Rate movie</button>
        <form class="rate-movie-form" id="rateMovieForm" method="post" style="display: none;">
            {% csrf_token %}
            <input class="rate-movie-score-input" id="score" name="score" placeholder="Score" value="{{rating.score|default_if_none:''}}"/>
            <textarea class="rate-movie-review-input" id="review" name="review" placeholder="Your review...">{{ rating.review|default_if_none:'' }}</textarea>
            <button class="btn btn-secondary" type="submit">Submit Review</button>
        </form>
            <script>
                const rateMovieBtn = document.getElementById("rateMovieBtn")
                const rateMovieForm = document.getElementById("rateMovieForm")

                rateMovieBtn.addEventListener('click', () => {
                    if (rateMovieForm.style.display == 'none')
                        rateMovieForm.style.display = 'flex';
                    else
                        rateMovieForm.style.display = 'none';
                });
            </script>
        </div>
    </div>
    {% if comments %}
        <div class="movie-details-comment-container mt-3" style="margin-bottom: 15px;">
            <h2>Comments</h2>
            {% for comment in comments %}
                    <div class="movie-details-comment-card mt-2">
                        <span style="border-bottom: solid 1px;">
                            <h5 class="m-1" style="margin-left: 5px;">{{comment.user.username}} - {{comment.score}}</h5>
                        </span>
                        <textarea class="movie-details-comment-text" style="margin-left: 2px;" disabled>{{comment.review}}</textarea>
                    </div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock content %}