{% extends "layout.html" %}

{% load static %}

{% block title %}{{movie.name}}{% endblock title %}

{% block content %}
    <div class="d-flex flex-row" style="gap: 35px;">
        <div>
            <img src="{{movie.image.url}}" class="movie-details-img"/>
        </div>
        <div>
            <h1>{{movie.name}}</h1>
            <div class="mt-2">
                <h3>{{movie.category}}</h3>
            </div>
            <p>{{movie.description}}</p>
            <p>{{movie.release_date}}</p>
            <p>IMDb rating: {{movie.imdb_rating}}</p>
            {% if movie.average_rating %}
                <p>Users rating: {{movie.average_rating}}</p>
            {% endif %}
            {% if rating %}
                <p>Your rating: {{rating.score}}</p>
            {% endif %}
            <div>
                <form class="rate-movie-form" method="post" action = "">
                    {% csrf_token %}
                    {% if form.score.errors %}
                        <div>
                            <p class="alert alert-danger">{{form.score.errors.0}}</p>
                        </div>
                    {% endif %}
                    <input class="rate-movie-input" id="score" name="score" placeholder="score" min="1" max="10"/>
                    <button id="formSubmitBtn"class="btn btn-primary" style="height: 35px;" type="submit">Rate</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}